.home-wrapper {
  border: 1px solid;
  width: 1800px;
  height: auto;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.wrapper article {
  text-align: center;
  border: 1px solid;
  width: 800px;
  height: 400px;
}

.note {
  width: 1000px;
}
