.home-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.wrapper article {
  text-align: center;
  border: rgb(116, 72, 116) 6px solid;
  width: 20rem;
  height: 400px;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
}

.note {
  width: 1000px;
}
